.info-inner {
  @include inner;
}

.info-wrap {
  display: flex;
}

.info-content {
  margin-top:113px;
  margin-right: 60px;
  margin-bottom: 113px;
}

.info-pre {
  margin-top: 60px;
  font-family: $font;
  color: #C0C0C0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info-title {
  margin-top: 6px;
  color: $color-light;
  font-family: $font;
  font-size: 28px;
  line-height: 32px;
}

.info-text {
  margin-top: 14px;
  font-family: $font;
  color: $color-light;
  font-size: 14px;
  line-height: 20px;
}

.btn-info {
  margin-top: 20px;
}

.info-visual {
  min-width: max-content;
}

