.promo {
  padding-top: 91px;
  background-color: $color-dark;
  background-image: url(/img/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.promo-inner {
  @include inner;
}

.promo-title {
  margin-top: 461px;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

.promo-logo {
  margin-top: 1px;
  font-family: $font;
  font-size: 54px;
  line-height: 59px;
  color: $color-light;
}

.promo-text {
  margin-top: 18px;
  margin-bottom: 60px;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
