* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; // убираем полосу под картинками
  max-width: 100%;
}

body {
  font-family: $font;
  background-color: $color-dark;
  color: $color-light;
}

.logo {
  display: block;
  margin-right: auto;
  width: 128px;
  height: 31px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
